<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52008769270-5tnrto1sf8aaktikdi6367hbhhm44c8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52008769270-5tnrto1sf8aaktikdi6367hbhhm44c8o</string>
	<key>API_KEY</key>
	<string>AIzaSyDUgxh95DO8WvwXaaGZ_60NJjyOM_E0MFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52008769270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yuto.firebase-last2</string>
	<key>PROJECT_ID</key>
	<string>fir-last2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-last2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52008769270:ios:fccc36e3bb26d945ce7ed7</string>
</dict>
</plist>